@import '../../styles/shared-styles';


.homeContainer {
    background-image: linear-gradient(180deg, #231c5e 33.23%, #202045 67.61%);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100.7%;

    @include phone {
        width: 104%;
    }
}

.infoSection {
    margin-top: 100px;
    padding: 0px;
    background-color: #fff;

    img {
        max-width: 100%;
    }
}

.secondaryColor {
    color: $secondary-color;
}

.headlineText {
    padding: 200px 90px;
    color: #fff;

    img {
        max-width: 100%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 120px 30px;
        text-align: left;
        font-size: 30px;
    }

    @include medium-screen {
        padding: 100px 50px;
    }


    h5 {
        font-size: 63px;
        font-family: 'Inter', sans-serif;
        font-weight: 600 !important;
        line-height: 80px;

        @include phone {
            font-size: 30px;
            line-height: 45px;
        }

        @media screen and (device-aspect-ratio: 40/71) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    h6 {
        font-size: 30px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        margin-top: 45px;
    }
}

.ctaBtn {
    border: none;
    padding: 20px 150px;
    text-decoration: none;
    color: #fff;
    height: 41px;
    outline: none;
    font-family: 'Inter', sans-serif;
    border-radius: 50px;
    background-image: $button-color;

    @include phone {
        font-size: 18px;
        padding: 16px 53px;
    }
}

.ctaBtn:hover {
    color: #fff;
}

.welcomeSection {
    padding: 100px 200px 0 200px;

    @include phone {
        padding: 30px 30px 50px 30px;
    }

    @include tablet {
        padding: 0;
        margin-left: 100px;
    }

    .welcomeText {
        p {
            color: #fff;
            width: 85%;
            font-size: 17px;

            @include phone {
                width: 100%;
            }

            @include tablet {
                width: 100%;
            }
        }

        img {
            max-width: 100%;
        }

        span {
            color: $secondary-color;
        }

        h2 {
            font-family: 'Inter', sans-serif;
            font-weight: 700;
        }
    }
}

.whyDataMynt {
    h3 {
        font-size: 40px;
        font-weight: 700;
    }

    img {
        max-width: 100%;
    }

    p {
        width: 66%;
        margin: 0 auto;
    }

    .sellingPoint {
        margin: 100px auto 200px auto;

        // @include tablet {
        //     margin: 100px auto 200px 150px;
        // }
        img {
            margin-top: 5px;
            max-width: 100%;
        }

        ul li {
            list-style-type: none;
            margin-bottom: 50px;
        }

        .benefits {
            span:first-child {
                font-weight: 700;
                font-size: 1.25rem;
            }

            span:nth-child(2) {
                font-size: 1.06rem;
            }
        }
    }
}

.transactionSection {
    padding: 50px 0;

    h2 {
        font-size: 2.25rem;
    }
}

.payWithCrypto {
    background-image: linear-gradient(180deg, #231c5e 33.23%, #202045 67.61%);
    padding: 100px 200px;

    img {
        max-width: 100%;
        height: 472px;

        @include phone {
            height: 314px;
        }
    }

    h4 {
        font-size: 31px;
        font-weight: 700;
        width: 65%;

        @include phone {
            width: 100%;
        }
    }

    p {
        font-size: 17px;
    }

    @include phone {
        padding: 20px 30px;
    }

    .payWithCryptoText {
        margin-top: 150px;

        @include phone {
            margin-top: 50px;
        }
    }
}

.simpleCheckout,
.easySettle,
.powerfulTools {
    padding: 100px 200px;

    @include phone {
        padding: 60px 30px;
    }

    @include tablet {
        padding: 20px 30px;
    }

    img {
        max-width: 100%;

        @include tablet {
            margin-top: 40px;
        }
    }

    h4 {
        font-size: 31px;
        font-weight: 700;
    }

    p {
        font-size: 17px;
        width: 80%;

        @include phone {
            width: 100%;
        }
    }

    .checkoutText {
        margin-top: 170px;

        @include phone {
            margin-top: 0;
        }
    }
}

.sellOnline,
.trackSales,
.tableMetrics,
.recognitionSection {
    background-image: linear-gradient(180deg, #231c5e 33.23%, #202045 67.61%);
    padding: 50px 200px;

    @include phone {
        padding: 60px 30px;
    }

    @include tablet {
        padding: 20px 30px;
    }

    h4 {
        font-size: 31px;
        font-weight: 700;
    }

    img {
        max-width: 100%;

        @include phone {
            height: 309px;
        }

        @include tablet {
            margin-top: 80px;
        }
    }

    p {
        font-size: 17px;
        width: 65%;

        @include phone {
            width: 100%;
        }
    }

    .sellOnlineText {
        margin-top: 200px;

        @include phone {
            margin-top: 0;
        }
    }

    .trackSalesText {
        margin-top: 100px;

        @include phone {
            margin-top: 0;
        }
    }
}

.powerfulTools {
    img {
        max-width: 100%;
    }

    ul li {
        list-style-type: none;
        margin-bottom: 40px;
    }

    .toolsList {
        span:first-child {
            font-weight: 700;
            font-size: 1.1rem;
        }

        span:last-child {
            width: 60%;
            font-size: 1.06rem;
        }
    }
}

.partnersOpinionSection {
    padding: 50px 100px;
    margin-left: 150px;

    @include phone {
        padding: 60px 30px;
        margin-left: 0;
        text-align: center;
    }

    .partnersOpinion {
        img {
            margin-bottom: 30px;
        }

        p {
            width: 65%;
            margin-bottom: 30px;

            @include phone {
                width: 100%;
            }
        }

        span {
            color: $primary-color;
            font-size: 1.25rem;
        }
    }
}

.investorSection {
    padding: 100px 260px;

    @include phone {
        padding: 60px 30px;
    }

    h2 {
        margin-bottom: 80px;
    }
}

.contactUs {
    background-image: linear-gradient(180deg, #231c5e 33.23%, #202045 67.61%);
    padding: 50px 70px;

    @include phone {
        padding: 60px 30px;
    }

    h4 {
        font-size: 31px;
        font-weight: 700;
    }

    img {
        max-width: 100%;

        @include phone {
            height: 309px;
        }
    }

    p {
        font-size: 17px;

        @include phone {
            width: 100%;
        }
    }

    .footerDetails {
        margin-top: 100px;

        img {
            position: absolute;
        }

        span {
            margin-left: 50px;
            font-size: 20px;
            font-weight: 600;
        }

        @include phone {
            text-align: center;
        }

        .navLinks {
            @include phone {
                display: flex;
                flex-direction: column;
            }
            a {
                color: #fff;
                margin-right: 20px;
                text-decoration: none;
                font-weight: 600;
                font-size: 17px;
                margin-top: 20px;
            }
        }

        .mediaLinks {
            a {
                color: #fff;
                margin-right: 24px;
                background-color: $primary-color;
                border-radius: 100%;
                font-size: 17px;
                padding: 6px 9px;
            }
        }
    }
}
.copyright {
    text-align: center;
    background-color: $primary-color;
    margin-bottom: 0;
    padding: 10px 0;
    color: #fff;
    margin-right: -12px;
}