@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@100;800&display=swap');
@import '../../styles/shared-styles';


/*Styles for info section*/
.homeContainer {
    background-image: linear-gradient(180deg, #231c5e 33.23%, #202045 67.61%);
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // height: 100vh;
    overflow: hidden;

    // @include tablet {
    //     height: 50vh;
    // }

    // @include phone {
    //     height: 80vh;
    // }

    // @include medium-screen {
    //     height: 55vh;
    // }

    // @media screen and (device-aspect-ratio: 40/71) {
    //     height: 90vh;
    // }
}

.homeBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.infoSection {
    margin-top: 100px;
    padding: 0px;
    background-color: #fff;
}

.secondaryColor {
    color: $secondary-color;
}

.headlineText {
    // width: 73%;
    padding: 200px 90px;
    color: #fff;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 120px 30px;
        text-align: left;
        font-size: 30px;
    }

    @include medium-screen {
        padding: 100px 50px;
    }


    h5 {
        font-size: 63px;
        font-family: 'Inter', sans-serif;
        font-weight: 600 !important;
        line-height: 80px;

        @include phone {
            font-size: 30px;
            line-height: 45px;
        }

        @media screen and (device-aspect-ratio: 40/71) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    h6 {
        font-size: 30px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        margin-top: 45px;
    }
}

.ctaBtn {
    border: none;
    padding: 20px 150px;
    text-decoration: none;
    color: #fff;
    height: 41px;
    outline: none;
    font-family: 'Inter', sans-serif;
    border-radius: 50px;
    background-image: $button-color;

    @include phone {
        font-size: 22px;
        width: 256px;
        height: 51px;
    }

    @include tablet {
        font-size: 22px;
        width: 256px;
        height: 51px;
    }
}

.welcomeSection {
    p {
        color: #fff;
        width: 85%;
        font-size: 17px;
    }

    span {
        color: $secondary-color;
    }

    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }
}

.whyDataMynt {
    h3 {
        font-size: 40px;
        font-weight: 700;
    }

    p {
        width: 66%;
        margin: 0 auto;
    }

    .sellingPoint {
        margin: 100px auto 200px auto;
        width: 53%;

        img {
            margin-top: 5px;
        }

        ul li {
            list-style-type: none;
        }

        .benefits {
            span:first-child {
                font-weight: 700;
                font-size: 1.25rem;
            }

            span:nth-child(2) {
                font-size: 1.06rem;
            }
        }
    }
}

.transactionSection {
    padding: 50px 0;

    h2 {
        font-size: 2.25rem;
    }
}

.payWithCrypto {
    background-image: linear-gradient(180deg, #231c5e 33.23%, #202045 67.61%);
    padding: 100px 200px;

    h4 {
        font-size: 31px;
        font-weight: 700;
    }
    p {
        font-size: 17px;
    }
}

.simpleCheckout {
    padding: 100px 200px;

    h4 {
        font-size: 31px;
        font-weight: 700;
    }
    p {
        font-size: 17px;
    }
}

.sellOnline {
    background-image: linear-gradient(180deg, #231c5e 33.23%, #202045 67.61%);
    padding: 50px 200px;

    h4 {
        font-size: 31px;
        font-weight: 700;
    }
    p {
        font-size: 17px;
    }
}