html, body{
  background: $body-color-grey;
  font-size: 62.5%;
  font-weight: $font-weight-regular;
  min-height: 100%;
  scroll-behavior: smooth;
}

body, input, textarea, select, button {
  color:  $body-font-color;
  font-family: $global-font-family;
  font-weight: $font-weight-regular;
  font-size: $global-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:focus, a:hover {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

img{
  max-width: 100%;
}

.margin-top{
  margin: 30px auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-regular;
  line-height: 1.5em;
  margin-top: 0;
}


h1{
  color: $dark-text;
  font-size: to-rem(32px);
  line-height: 1em;
  margin: 0 0 to-rem(15px);

  @include phone{
    font-size: to-rem(27px);
    margin: 0 0 to-rem(5px);
  }
}

h2{
  font-size: to-rem(28px);
}

h3{
  color: $dark-text;
  font-size: to-rem(24px);
}

h4{
  color: $dark-text;
  font-size: to-rem(20px);

  @include phone{
    font-size: to-rem(16px);
  }
}

h5{
  color: $dark-text;
  font-size: to-rem(16px);

  @include phone{
    font-size: to-rem(14px);
  }
}

h6{
  font-size: to-rem(14px);
  margin: 0 0 15px;
}

::-moz-selection {
  background: $secondary-color;
  color: #ffffff;
  opacity: 1;
  text-shadow: none;
}

::selection {
  background: $secondary-color;
  color: #ffffff;
  opacity: 1;
  text-shadow: none;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.bold-text{
  font-weight: $font-weight-bold;
}

label{
  display: block;
}

.margin{
  &-b30{
    margin-bottom: 40px;
  }

  &-b40{
    margin-bottom: 40px;
  }
}

.dark-text {
  color: $dark-text;
}